@font-face{font-family:'APL333';src:local('APL333'),url(apl333.ttf)}
@font-face{font-family:'APL385 Unicode';src:local('APL385 Unicode'),url(apl385.ttf)}
*{font-family:'APL333'!important;border:none!important}
body{filter:invert(.9);background:#333;overflow:hidden}
body.w{filter:invert(0);background:#ddd}
p{position:absolute;top:1em;white-space:nowrap;overflow:hidden;width:100%;text-overflow:ellipsis}
a{position:absolute;z-index:1;color:unset}
#w,#x{text-decoration:unset;right:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer}
#w{bottom:0}
#x{padding:0 .5ex}
.dataTables_scrollHeadInner{padding-left:0!important}
.dataTables_filter{text-align:right!important}
#DataTables_Table_0_info{text-align:unset}
input{width:calc(100vw - 10em)}
th{background:unset!important;cursor:unset!important}
td:first-child:not(.dataTables_empty){font-family:'APL385 Unicode'!important}
@media(max-width:1365px){span{display:none}}