@font-face{font-family:'APL333';src:local('APL333'),url(/apl333.ttf)}
@font-face{font-family:'APL385 Unicode';src:local('APL385 Unicode'),url(/apl385.ttf)}
td:nth-child(3),td:nth-child(4),td:nth-child(5),td:nth-child(6),td:nth-child(7){display:none}
*{font-family:'APL333';color:#333}
.SYNTAX,input{font-family:'APL385 Unicode'}
body{filter:invert(.9);background:#333;overflow:hidden;position:relative}
div{height:calc(100vh - 11.5ex);overflow:auto;}
table{background:#fff;width:100%}
input{width:calc(100% - 16em);border:none;border-radius:0 1em 1em 0}
a{display:inline-block;text-align:center;z-index:1;width:1em;line-height:1em;color:unset;text-decoration:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
a:hover{color:#000}
#a{letter-spacing:-.25ex;font-size:133%}
#e,#x,#c{border-radius:1em;border:.25ex solid currentcolor}
#e{margin:0 .5em}
#x{margin:0 1em 0 -1.5em}
p{top:1em;white-space:nowrap;overflow:hidden;width:100%;text-overflow:ellipsis;color:#333}
input::-ms-clear,
input::-ms-reveal,
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{display:none;width:0;height:0;}
@media(max-width:1365px){span{display:none}}